footer h2 {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  color: $light-black;
}

@media (max-width: $width-only-tablet) {
  .footer h2 {
    font-size: 24px;
  }
}

@media (max-width: $width-only-mobile) {
  .footer h2 {
    font-size: 18px;
  }
}

footer p {
  margin: 0;
  font-size: 17px;
  line-height: 31px;
  letter-spacing: normal;
  color: $lighter-black;
}
