.form ul {
  @include reset-list;
}

.form input {
  width: 100%;
  margin-bottom: 20px;
  height: 48px;
  line-height: 48px;
  padding-left: 30px;
  border: 1px solid $lighter-white;
  border-radius: 6px;

  &::placeholder {
    font-size: 15px;
    line-height: 48px;
    font-weight: 400;
    color: $grey;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 4px rgba($green, 0.5);
  }
}

@media (max-width: $width-only-tablet) {
  .form input {
    padding-left: 20px;
  }
}

@media (max-width: $width-only-mobile) {
  .form input {
    padding-left: 25px;
  }
}

.form button {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 13px;
  min-height: 51px;
  font-size: 15px;
  line-height: 21px;
  font-weight: 600;
  letter-spacing: normal;
  border: 0;
  border-radius: 6px;
  background-color: $green;
  transform: translateY(3px);
  cursor: pointer;

  &:focus,
  &:active,
  &:hover {
    background-color: $dark-green;
  }

  &:focus {
    box-shadow: 0 0 0 4px $pale-green;
  }
}

@media (max-width: $width-only-tablet) {
  .form button {
    padding-top: 16px;
    transform: initial;
  }
}

@media (max-width: $width-only-mobile) {
  .form button {
    padding-top: 12px;
  }
}
