.information__inner {
  width: 100%;
  min-height: 763px;
  max-width: 874px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 160px;
  padding-top: 260px;
}

.information__about h1 {
  margin: 0;
  font-size: 46px;
  line-height: 64px;
  font-weight: 700;
  color: $white;
}

@media (max-width: $width-only-tablet) {
  .information__about h1 {
    font-size: 30px;
    line-height: 42px;
  }
}

@media (max-width: $width-only-mobile) {
  .information__about h1 {
    font-size: 30px;
    line-height: 42px;
  }
}

.information__about p {
  margin: 24px 0 0 0;
  font-size: 20px;
  color: $darker-white;
}

@media (max-width: $width-only-tablet) {
  .information__about p {
    font-size: 18px;
  }
}

.information__form {
  max-width: 327px;
}

.information__form p {
  margin: 0 0 20px 0;
  text-align: center;
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  color: $white;
}

@media (max-width: $width-only-tablet) {
  .information__form p {
    font-size: 18px;
    color: $black;
  }
}

