.information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 880px;
  min-height: 763px;
  margin: 0 auto;
}

@media (max-width: $width-only-tablet) {
  .information {
    display: block;
    min-height: auto;
    max-width: none;
  }
}

.information__about {
  max-width: 390px;
  margin-top: 22px;
}

@media (max-width: $width-only-tablet) {
  .information__about {
    max-width: none;
    min-height: 340px;
    margin-top: 0;
    background-color: $pale-black;
    background-image: url("../img/main-bike-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-bike-tablet@2x.jpg");
    }
  }
}

@media (max-width: $width-only-mobile) {
  .information__about {
    min-height: 390px;
    padding-left: 16px;
    padding-right: 16px;
    background-image: url("../img/main-bike-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-bike-mobile@2x.jpg");
    }
  }
}

.information__about h1 {
  margin: 10px 0 0 0;
  font-size: 46px;
  line-height: 64px;
  font-weight: 700;
  color: $white;
}

@media (max-width: $width-only-tablet) {
  .information__about h1 {
    margin: 0;
    text-align: center;
    padding-top: 134px;
    font-size: 30px;
    line-height: 42px;
  }
}

@media (max-width: $width-only-mobile) {
  .information__about h1 {
    padding-top: 120px;
    font-size: 30px;
    line-height: 42px;
  }
}

.information__about p {
  margin: 24px 0 0 0;
  font-size: 20px;
  color: $darker-white;
}

@media (max-width: $width-only-tablet) {
  .information__about p {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
  }
}

.information__about br {
  display: none;
}

@media (max-width: $width-only-tablet) {
  .information__about br {
    display: block;
  }
}

@media (max-width: $width-only-mobile) {
  .information__about br {
    display: none;
  }
}

.information__form {
  max-width: 327px;
  margin-top: 14px;
}

@media (max-width: $width-only-tablet) {
  .information__form {
    max-width: 320px;
    min-width: 321px;
    margin: 70px auto 0 auto;
  }
}

@media (max-width: $width-only-mobile) {
  .information__form {
    min-width: auto;
    max-width: none;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.information__form p {
  margin: 0 0 20px 0;
  text-align: center;
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  color: $white;
}

@media (max-width: $width-only-tablet) {
  .information__form p {
    margin-bottom: 30px;
    font-size: 18px;
    color: $black;
  }
}

@media (max-width: $width-only-mobile) {
  .information__form p {
    margin-bottom: 20px;
  }
}
