.logo {
  display: inline-block;
  vertical-align: top;
  transform: translateY(-9px);
}

@media (max-width: $width-only-tablet) {
  .logo {
    position: absolute;
    top: 24px;
    left: 22px;
    transform: initial;
  }
}

@media (max-width: $width-only-mobile) {
  .logo {
    left: 17px;
  }
}
