.video {
  padding-top: 120px;
  background: linear-gradient(to bottom, $pale-black, $pale-black 88%, $white 88%, $white);
}

@media (max-width: $width-only-tablet) {
  .video {
    padding-top: 70px;
    background: linear-gradient(to bottom, $pale-black, $pale-black 83%, $white 83%, $white);
  }
}

@media (max-width: $width-only-mobile) {
  .video {
    padding-top: 84px;
  }
}

.video__inner {
  max-width: 929px;
  margin: 0 auto;
}

@media (max-width: $width-only-tablet) {
  .video__inner {
    padding-right: 132px;
    padding-left: 133px;
  }
}

@media (max-width: $width-only-mobile) {
  .video__inner {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.video h2 {
  margin: 0;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  color: $white;
}

@media (max-width: $width-only-tablet) {
  .video h2 {
    font-size: 24px;
  }
}

.video p {
  margin: 20px 0 56px 0;
  text-align: center;
  line-height: 28px;
  color: $dark-white;
}

@media (max-width: $width-only-tablet) {
  .video p {
    margin-bottom: 40px;
  }
}

@media (max-width: $width-only-mobile) {
  .video p {
    margin-bottom: 50px;
  }
}

.video__second-brake {
  display: none;
}

@media (max-width: $width-only-tablet) {
  .video__first-brake {
    display: none;
  }

  .video__second-brake {
    display: block;
  }
}

@media (max-width: $width-only-tablet) {
  .video__second-brake {
    display: none;
  }
}

.video img {
  width: 100%;
  object-fit: cover;
}

.video__item {
  position: relative;
}

.video button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 0;
  padding: 0;
  width: 65px;
  height: 65px;
  color: $green;
  background-color: transparent;

  &:focus,
  &:active,
  &:hover {
    color: $dark-green;
  }

  &:focus {
    outline: 1px solid $white;
  }
}

.video button svg {
  display: block;
}
