$white: #ffffff;
$light-white: rgba($white, 0.2);
$lighter-white: #c9ccd4;
$dark-white: rgba($white, 0.7);
$darker-white: rgba($white, 0.8);
$black: #000000;
$pale-black: #131314;
$light-black: #1f1f1f;
$lighter-black: rgba($black, 0.7);
$dark-grey: rgba($black, 0.5);
$deep-grey: rgba(#141517, 0.2);
$grey: rgba(#1c1c1c, 0.5);
$pale-grey: #48494d;
$paler-grey: #f6f6f6;
$light-grey: #f6f7f9;
$lighter-grey: #dadada;
$green: #0ad9c6;
