$white: #FFFFFF;
$light-white: rgba($white, 0.2);
$lighter-white: #C9CCD4;
$dark-white: rgba($white, 0.7);
$darker-white: rgba($white, 0.8);
$black: #000000;
$pale-black: #131314;
$light-black: #1F1F1F;
$lighter-black: rgba($black, 0.7);
$dark-grey: rgba($black, 0.5);
$grey: rgba(#1C1C1C, 0.5);
$light-grey: #F6F7F9;
$green: #0AD9C6;
